@model IEnumerable<Softtech.ViewModel.BookingListViewModel>
@{
    ViewData["Title"] = "AllBookings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="page-title">Bookings /</h5>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">List of bookings</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <p class="card-text">
                        Under actions you may view and remove from the list if you are authorised to do so
                    </p>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="datatable table table-stripped">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Funded By:</th>
                                <th>Bursary Name</th>
                                <th>Requested Room Type</th>
                                <th>Room No.</th>
                                <th>Paid</th>
                                <th>Date</th>
                                <th>Status</th>
                                @*<th class="text-center">
                                    <div class="table-action"> Actions</div>
                                </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentFundedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BursaryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoomTypeId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoomId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PayAmount)
                                    </td>
                                    <td>
                                        @item.Date.ToShortDateString()
                                    </td>
                                    <td>
                                        @if (item.Status == true)
                                        {
                                            <span class="text-success">Accepted</span>
                                        }
                                        else
                                        {
                                            <span class="text-warning">Pending</span>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


