@model Softtech.Models.ApplicationUser

@{
    ViewData["Title"] = "AssignRoom";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Student Profile</h4>
    </div>

    <div class="col-sm-5 col-6 text-right m-b-30">
        <a asp-controller="Users" asp-action="EditUser" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="profile-header">
            <div class="row align-items-center">
                <div class="col-auto profile-image">
                    <a asp-action="EditUser" asp-controller="Users">
                        <img class="rounded-circle" height="100" width="150" alt="User Image" src="~/profileImage/@Html.DisplayFor(model => model.ImagePath)">
                    </a>
                </div>
                <div class="col ml-md-n2 profile-user-info">
                    <h4 class="user-name mb-0">@Html.DisplayFor(model => model.FullName)</h4>
                    <h6 class="text-muted">@Html.DisplayFor(model => model.Email)</h6>
                    <div class="about-text">About Me</div>
                </div>
                <div class="col-md-7">
                    <dl class="row text-right">
                        <dt class="col-sm-4">
                            <label class="control-label">Phone Number:</label>
                        </dt>
                        <dd class="col-sm-5 text-center">
                            <span class="col-sm-8 form-control-static">  @Html.DisplayFor(model => model.PhoneNumber)</span>
                        </dd>
                        <dt class="col-sm-4">
                            <label class="control-label">Date Of Birth:</label>
                        </dt>
                        <dd class="col-sm-5 text-center">
                            <span class="col-sm-8 form-control-static"> @Html.DisplayFor(model => model.DateOfBirth)</span>
                        </dd>
                        <dt class="col-sm-4">
                            <label class="control-label">ID Number:</label>
                        </dt>
                        <dd class="col-sm-5 text-center">
                            <span class="col-sm-8 form-control-static"> @Html.DisplayFor(model => model.City)</span>
                        </dd>
                        <dt class="col-sm-4">
                            <label class="control-label">AddressLine 1:</label>
                        </dt>
                        <dd class="col-sm-5 text-center">
                            <span class="form-control-static">@Html.DisplayFor(model => model.AddressLine2)</span>
                        </dd>
                        <dt class="col-sm-4">
                            <label class="control-label">Address Line 2:</label>
                        </dt>
                        <dd class="col-sm-5 text-center">
                            <span class="form-control-static">@Html.DisplayFor(model => model.AddressLine1)</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
