@model IEnumerable<Softtech.Models.TblDeposit>

@{
    ViewData["Title"] = "ListOfDeposits";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="datatable table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Student</th>
                                <th>
                                    <a asp-action="AddDeposits">Add New</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Student.CellNumber)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.DepositId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.DepositId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.DepositId">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
